            </div> <!-- end #page -->
		
        <footer role='contentinfo' class='site_footer'>
              <div class="fineprint wrap">
                <p class="copyright">Copyright © Victoria University of Wellington, New Zealand</p>
              </div>
        </footer>
    </div><!-- /wrapper -->
  <script src='/assets/includes/prism.js'></script>
	<script src='/assets/js/common.js'></script>
  <script src='/assets/js/search.js'></script>

    
	
</body>
