# ignore metadata files
.DS_Store
Thumbs.db
.tmp

# don't track the compiled CSS
/assets/css/
/assets/.sass-cache/
.sass-cache/

# don't track the node modules (use npm install in a clean repo to obtain)
node_modules/

