# ignore metadata files
.DS_Store
Thumbs.db
.tmp

#error logs
azure.err
diagnostics.zip

# don't track the compiled CSS

/assets/.sass-cache/
.sass-cache/


# don't track the node modules (use npm install in a clean repo to obtain)
node_modules/

