<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" id="h_viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
       
         <!-- Feature detection (rgba, opacity, touch, generated content) & HTML5 shiv -->
        <script src="/assets/js/modernizr.custom.23652.js"></script>
        <script src='/assets/js/jquery-1.10.2.min.js'></script>
        <script src="/assets/js/main.js"></script>

          <link href="/assets/includes/prism.css" media="all" rel="stylesheet" type="text/css" />
        
        <!-- Sitewide styles -->
        <link href="http://victoria.ac.nz/assets/css/style.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/assets/css/squiz-local.css" media="all" rel="stylesheet" type="text/css" />

        <!--Live Reload script-->
        <script src="//localhost:35729/livereload.js"></script> 
        <style type="text/css">
            pre, .example {
                border: 1px solid #ccc;
            }
            #content {
                width: auto;
            }
            .example {
                padding: 20px;
            }
            .shrinko {
                width: 70%;
            }
            .less_padding {
                padding: 1%;
            }
            .code_hider{
                cursor: pointer;
                border-left: 1px solid #ccc;
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
            }
            .code_toggle {
                background: url('/assets/images/menu-toggle-active-low.png') no-repeat;
                background-position: center;
                padding-right: 4%;
            }
            .code_toggle.open {
                background: url('/assets/images/menu-toggle-low.png') no-repeat;
                background-position: center;
            }

            .hido {
                -webkit-transition: width 0.1s linear;
                -webkit-transition-delay: 0.05s;
                -moz-transition: width 0.1s linear 0.05s;
                -o-transition: width 0.1s linear 0.05s;
                transition: width 0.1s linear 0.05s;
                height: 0;
                display: none;
            }

        </style>
       
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {{>header}}

        {{{ body }}}

        
        {{>footer}} 
       

        <!-- build:js(assets) scripts/scripts.js 
        <script src="bower_components/jquery/jquery.js"></script>-->
        <!-- endbuild -->

</html>