/* line 8, ../../sass/site-specific/library.scss */
.library_search {
  background-color: #eee;
  padding-top: 1% !important; }
  /* line 25, ../../sass/site-specific/library.scss */
  .library_search,
  .library_search form {
    margin: 0; }

/* line 32, ../../sass/site-specific/library.scss */
.search_options__button {
  border: 0; }

/* line 37, ../../sass/site-specific/library.scss */
.search_options__content {
  display: block;
  padding: 1em; }

/* line 43, ../../sass/site-specific/library.scss */
.search_options__footer {
  padding: 1em 0 1em;
  border-top: 1px solid #ddd;
  margin-bottom: 0;
  margin-top: 1em; }
  /* line 50, ../../sass/site-specific/library.scss */
  .search_options__footer .button {
    margin: 0; }
  /* line 63, ../../sass/site-specific/library.scss */
  .search_options__footer nav li {
    display: inline-block;
    float: left; }
  /* line 70, ../../sass/site-specific/library.scss */
  .search_options__footer nav li:first-child a {
    padding-left: 0; }
  /* line 74, ../../sass/site-specific/library.scss */
  .search_options__footer nav a {
    padding: 0.5em;
    font-size: 0.92857em; }
    /* line 79, ../../sass/site-specific/library.scss */
    .search_options__footer nav a:hover {
      color: #3c3c3c; }

/* line 87, ../../sass/site-specific/library.scss */
.sub_footer {
  margin-bottom: -2em;
  border-top: 1px solid #ddd; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .sub_footer {
    background: #D1E0DA; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-about .sub_footer {
    background: #D1E0DA; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-research .sub_footer {
    background: #E1EFF1; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-students .sub_footer {
    background: #f4f4e9; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-services .sub_footer {
    background: #f4f4e9; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-study .sub_footer {
    background: #f4f4e9; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-staff .sub_footer {
    background: #D1E0DA; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-teaching .sub_footer {
    background: #CCCCCC; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-maori .sub_footer {
    background: #f4f4e9; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-library .sub_footer {
    background: #f4f4e9; }
  /* line 201, /Users/irwinna/Code/victoria_web_toolkit/assets/sass/ui-library/_mixin-theme-library.scss */
  .theme-example .sub_footer {
    background: #f4f4e9; }
  /* line 102, ../../sass/site-specific/library.scss */
  #wrapper .sub_footer .icon {
    width: 45px;
    height: 45px; }
    /* line 106, ../../sass/site-specific/library.scss */
    #wrapper .sub_footer .icon.facebook {
      background-position: 0 -78px; }
    /* line 110, ../../sass/site-specific/library.scss */
    #wrapper .sub_footer .icon.ask {
      background-image: url(/assets/images/icon-speech-bubble.png);
      background-position: 0 0; }
  /* line 116, ../../sass/site-specific/library.scss */
  .sub_footer h3 {
    margin-top: 1.1em;
    margin-bottom: 0.9em; }

/* line 125, ../../sass/site-specific/library.scss */
.library_search label[for="library_search_field"] {
  padding-bottom: 0;
  font-weight: normal;
  font-size: 0.78571em;
  text-transform: uppercase; }

/* line 132, ../../sass/site-specific/library.scss */
#library_search_field {
  width: 100%; }

/* line 136, ../../sass/site-specific/library.scss */
#library_search_form {
  position: relative; }

/* line 140, ../../sass/site-specific/library.scss */
.form_input_collection .form_radio {
  margin-left: 1em; }

/* line 144, ../../sass/site-specific/library.scss */
.library_search .field_container, .library_search .search_options {
  margin-bottom: 0.5em; }

/* line 148, ../../sass/site-specific/library.scss */
.search_options {
  font-size: 0.78571em;
  text-transform: uppercase;
  padding-top: 4px;
  position: absolute;
  top: 0;
  right: 0; }

@media all and (max-width: 759px) {
  /* line 158, ../../sass/site-specific/library.scss */
  .search_options {
    position: static; } }
/* line 163, ../../sass/site-specific/library.scss */
.search_options .button {
  margin: 0; }

/* line 167, ../../sass/site-specific/library.scss */
.search_options nav li {
  display: inline-block;
  float: left; }

/* line 172, ../../sass/site-specific/library.scss */
.search_options nav li:first-child a {
  padding-left: 0; }

/* line 176, ../../sass/site-specific/library.scss */
.search_options nav a {
  padding-right: 1em;
  font-weight: 400; }

/* line 181, ../../sass/site-specific/library.scss */
.search_options nav a:hover {
  color: #3c3c3c; }

/*# sourceMappingURL=library.css.map */
