<style type="css">
  #content {
    width: 77%;
  }
</style>
<div  id='content'>
  <section role='main' class=''>
    <div class='entry'>
         <h1 class='page_title'>Content writing guide</h1>
               <p class="intro">Your step-by-step guide to writing a standard web page for victoria.ac.nz. Learn to write content users can easily find and understand.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->
<script src="https://victoria.hackpad.com/UAwJCp7nQWv.js?format=html-notitle"></script><noscript><div>View <a href="https://victoria.hackpad.com/UAwJCp7nQWv">Content writing guide</a> on Hackpad.</div></noscript>