{{!-- Digital Brand Guidelines --}}


<div id='content'>
    <section role='main' class='primary'>
        <div class="entry">




            <h1 class="page_title">Victoria digital brand guide - alpha</h1>
            <div class="intro">
                <p>This guide is a tool to help bring consistent branding to digital applications across the University.</p>
            </div>



            <p>This is the first iteration of the the Victoria digital brand guide and is open for discussion.</p>
            <p><strong>This guide contains information on:</strong>
            </p>
            <ol>
            	<li>The Victoria logo on digital platforms
                </li>
                <li>Branding templates for digital applications
                </li>
                <li>Guidance on Victoria colours and fonts
                </li>
            </ol>

            <h2 class="rule"> The Victoria logo on digital platforms</h2>
            <div class="example"><img alt="" src="/assets/img/logo.png" />
            </div>
            <p>Use the landscape Victoria logo in white on a Victoria green header (Hex: #115737)</p>
            <p>Minimum width of logo should be 190px.</p>
            <p>Always link the Victoria logo back to the victoria.ac.nz home page</p>
            <p>The Victoria word mark logo is strictly for use on mobile responsive applications or pages. No exceptions.</p>

            <h2 class="rule">Branding templates for digital applications</h2>
            <p>These templates are a guide to branding your application to fit with the Victoria digital brand. Your applications should also meet any requirements in the Victoria web strategy.</p>

            {{!-- <p>All the code and assets you need to implement the header and footer are readily available via request.</p> --}}

            <h4>Templates:</h4>
            <ol>
                <li>Application template</li>
                <li>Log in template</li>
            </ol>
            <h3>Application template</h3>
            <p>Header for applications:</p>
            <div class="example"> <img alt="Header for applications" src="/assets/img/header.png" title="Application header" />
            </div>
            <p>If your application or page is responsive:</p>
            <div class="example"> <img alt="Mobile header" src="/assets/img/mobile.png" title="Mobile header" /></div>
            <h3>Log in template</h3>
            <p>More information about form elements and buttons can be found on the <a href="/#forms">Victoria elements page</a></p>
            <div class="example"> <img alt="Log in template" src="/assets/img/login-desktop.png" title="Log in template" /></div>
            <p>If your application or page is responsive:</p>
            <div class="example"> <img alt="Responsive log in template" src="/assets/img/login-mobile.png" title="Responsive log in template" /></div>

            <h2 class="rule">Guidance on Victoria colours and fonts</h2>
            <h4>Colours</h4>
			
            <p>The Victoria green should be used sparingly. The Victoria green should only be used as an application header colour and font headings where appropriate.</p>
            <p>Background colour should be white with off-black text (Hex #444).</p>
            <p>Highlight areas should be (Hex #eee) . Border colour is (Hex #b9d2d6). </p>
            <p>Primary Button should be blue with white text, these button should be used for submit or final actions. There are other button styles we use. For more information about buttons see the <a href="/elements#buttons">Victoria elements page</a></p>    
		
           <h4>Fonts</h4>

           <p>Body copy:</p>
<pre>
<code class="language-css">
p {
	font-family: &ldquo;Segoe WP&rdquo;, &ldquo;Nimbus Sans L&rdquo;, Arial, &ldquo;Helvetica Neue&rdquo;, &ldquo;Helvetica&rdquo;, sans-serif;
	font-size: 14px;
}
</code>
</pre>
<p>h1-h5:</p>
<pre>
<code class="language-css">
h1, h2, h3, h4, h5 {
	font-family: &ldquo;National&rdquo;, &ldquo;Segoe WP Semibold&rdquo;, &ldquo;Nimbus Sans L&rdquo;, Arial, &ldquo;Helvetica Neue&rdquo;, &ldquo;Helvetica&rdquo;, sans-serif;
}
</code>
</pre>



			<p>More information about fonts and elements used on victoria.ac.nz can be found on the <a href="/elements">Victoria elements page</a></p>


            <div class="highlight_secondary">
                <h3>Remember:</h3>
                <ul>
                    <li>always link the Victoria logo back to the victoria.ac.nz home page</li>
                    <li>the logo should be on Victoria green (hex: #115737)</li>
                </ul>
            </div>

        </div>
    </section>
</div>

</body>

</html>
