<div  id='content' class="thinner">
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>How users read</h1>


<p class="intro">The Victoria style guide is set in best practice and relates to how users read. This is an explanation of some of our guidance and the reasons behind the rules.</p>

<h2>Reading</h2>
<p>Users only really read 20 to 28% of a web page. Where users just want to complete a service as quickly as possible, there’s added user impatience so you may find users skim words even more.</p>

<p>The content style guide and design patterns give guidance on how to write. This page details why we do it.</p>
<p>All of this guidance is based on the learning skills of an average person who has English as a first language.</p>

<h2>Reading age</h2>
<p>You don’t read one word at a time. You bounce around. You anticipate words and fill them in.</p>

<p>By the time you’re 9 years old, your brain can drop up to 30% of the text and still understand. Your vocabulary will grow but this reading skill stays with you as an adult.</p>

<p>You should also be confident in sounding out words and blending sounds. You may not know the word, but you have the skills to be able to learn it.</p>

<p>This is why we talk about the reading age being around 9 years old.</p>

<h2>Lower case</h2>
<p>When you learn to read, you start with a mix of upper and lower case but you don’t start understanding upper case until you’re around 6 years old.</p>

<p>At first, you may sound out letters, merge sounds, merge letters, learn the word.</p>
<p>Then you stop reading it.</p>

<p>At that point, you recognise the shape of the word. This speeds up comprehension and speed of reading. So we don’t want people to read. We want people to recognise the ‘shape’ of the word and understand. It’s a lot faster.</p>

<p>Capital letters are reputed to be 13 to 18% harder for users to read. So we try to avoid them.</p>
<p>Also, in modern usage it sounds like we’re shouting. We are a university. We should not be shouting.</p>

<h2>Plain English</h2>
<p>By the time you are 9, you’re building up your ‘common words’. Your primary set is around 5,000 words in your vocabulary; your secondary set is around 10,000 words.</p>
<p>These are words you use every day. They include a lot of <a href="https://www.gov.uk/design-principles/style-guide#writing-plain-english">plain English</a> words, which is why we should be obsessed with them. These are words so easy to comprehend, you learn to read them quickly and then you stop reading and start recognising.</p>

<h2>Context</h2>
<p>We explain all unusual terms on victoria.ac.nz. This is because you can understand 6-letter words as easily as 2-letter words – if they’re in context.</p>

<p>Sometimes, you can read a short word faster than a single letter – if the context is correct.</p>

<p>Not only are we giving users full information, we’re speeding up their reading time. By giving full context and using common words, we’re allowing them to understand in the fastest possible way.</p>

<p>In tools and transactions you need to give people context. By giving them information they’re expecting, you help them get through it faster.</p>

<h2>Learning disabilities</h2>
<p>We should remember that people with some learning disabilities read letter for letter. They don’t bounce around like other users.They also can’t fully understand a sentence if it’s too long.</p>

<p>People with moderate learning disabilities can understand sentences of 5 to 8 words without difficulty. By concentrating on common words we can help all users understand sentences of around 25 words.</p>

<h2>Why we do this</h2>
<ul class="comment">
    <li>Why, why do anything.......why!?</li>
</ul>

<p>Our audience is potentially anyone living in the UK. We need to be able to communicate in a way that most users understand.</p>
<p>Government can’t afford to be elitist and use language only specialists can understand. We need to open up our information and services to everyone. That means using common words and working with natural reading behaviour.</p>

<h2>Further reading</h2>
<p>Nielsen: For more detail on why <a href="http://www.nngroup.com/articles/how-little-do-users-read/">20 to 28% of text is read</a>.</p>


	</section>
</div>