
<div  id='content'>
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>All the snippets!</h1>
               <p class="intro">Victoria elements HTML snippets can be used to help with prototyping.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->
{{>typography}}
{{>buttons}}
{{>forms}}
{{>pagination}}
{{>tables}}
{{>containers}}
{{>rules}}

	</section>
</div>