
<div  id='content'class="thinner">
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>Victoria web toolkit</h1>
               <p class="intro">Victoria’s web channel and the principles that guide ongoing work to make it more modern, flexible, sustainable and user-focused.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->

<div class="highlight_secondary">
		<p>Some pages are yet to be created, hang tight.</p>
		<p>Coming next: Design patterns</p>
	</div>


<h2>Guides and resources for...</h2>

<div class="columns columns2">
<div class="col col1">

    <h3>
					Web writers</h3>
    <p>Writers work with subject matter experts to develop new content based on existing content templates. The biggest difference between a writer and a web editor is that a writer is expected to already be experienced in writing for the web.</p>
	<ul class="bullet_list divider_list">
		<li><a href="/web-writing">Wirting for the web</a></li>
		<li><a href="/content-writing">Content writing guide</a></li>
		<li class="no_link">Victoria style A-Z</li>
		<li class="no_link">Plain English alternatives</li>
		<li class="no_link">Voice and tone</li>
	</ul>

    <h3>
							Web editor</h3>
    <p>Web editors maintain existing content, keeping it accurate and up-to-date.</p>

	<ul class="bullet_list divider_list">
		<li><a href="/how-users-read">How users read</a></li>
		<li><a href="/web-writing">Wirting for the web</a></li>
		<li><a href="/content-writing">Content writing guide</a></li>
		<li class="no_link">Victoria style A-Z</li>
		<li class="no_link">Plain English alternatives</li>
		<li class="no_link">Voice and tone</li>
	</ul>

</div>
<div class="col col2">

    <h3>
				Content designers</h3>
    <p>Find out about creating content for victoria.ac.nz, user experience, usability and accessibility.</p>
	<ul class="bullet_list divider_list">
		<li><a href="/user-needs">User needs</a></li>
		<li><a href="/wayfinding">Wayfinding</a></li>
		<li><a href="/digital-brand">Digital brand</a></li>
		<li><a href="/template-library">Template library</a></li>
		<li><a href="/elements">Element library</a></li>
		<li class="no_link">Victoria style A-Z</li>
	</ul>




</div>
</div>


	</section>
</div>