<style type="css">
  #content {
    width: 77%;
  }
</style>
<div  id='content'>
  <section role='main' class=''>
    <div class='entry'>
         <h1 class='page_title'>Pattern library!</h1>
               <p class="intro">Victoria patterns for content design.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->

<ul>
  
<li>Navigation</li>
<li>Lists</li>
<li>Call to action</li>
<li>Contact info treatments</li>
<li>Forms and user inout</li>
<li>Images and mmedia</li>
<li>Widgets</li>

</ul>


<h2 class="rule">Lists</h2>

<p>List all the things</p>
<p>Lists are useful, you can list documents, related links, you even list people!</p>


<p>Our lists patterns</p>
<ul>
  <li><a href="">Documents</a></li>
  <li><a href="">Related items</a></li>
  <li><a href="">Staff</a></li>
  <li><a href=""></a></li>
  <li><a href=""></a></li>
</ul>









<div class="hightlight example">
<aside role="complementary" class="secondary">
    <h2>Divider lists</h2>
    <ul class="bullet_list divider_list">
    <li><a href="#">Spider-man</a></li>
    <li><a href="#">The Hulk</a></li>
    <li><a href="#">Captin America</a></li>
    <li><a href="#">Galactus</a></li>
    <li><a href="#">Deadpool</a></li>
  </ul>
</aside>
</div>











</div>
  </section>
</div>


