<div  id='content'>
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>Section page</h1>
               <p class="intro">Section pages are used as wayfinding pages to direct users to the thing they want to do.</p>


<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411003768159_Screen Shot 2014-09-18 at 1.28.45 pm.png">
</p>
<p>
   Examples of wayfinding pages: </p>
<ul>
	<li><a href="http://www.victoria.ac.nz/study/apply-enrol">http://www.victoria.ac.nz/study/apply-enrol</a></li>
	<li><a href="http://www.victoria.ac.nz/students/study">http://www.victoria.ac.nz/students/study</a></li>
	<li><a href="http://www.victoria.ac.nz/study/why-victoria">http://www.victoria.ac.nz/study/why-victoria</a></li>
</ul>
   <a href="http://www.victoria.ac.nz/students/study"></a></p>

<h2>Section page elements</h2>
<p>Sections pages share some <a href="/wayfinding">common wayfinding elements </a>with content pages.</p>

<p>Other elements on Section pages:</p>
<ol>
    <li>Three column area
    </li>
    <li>Intro area
    </li>
    <li>Promo area
    </li>
</ol>

<p>We have a strict set of elements that we use on section pages for reasons; anything that gets between our users and meeting their needs should be stripped away.&nbsp;</p>

<h2>1. Three columns</h2>
<p>We use a main content area with no right side, this gives us the abilty to use a 3 column layout.</p>

<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411011187355_Screen Shot 2014-09-18 at 3.32.48 pm.png">
</p>

<h2>2. Intro area</h2>
<p>This area is made of a <a href="/wayfinding">page heading and descrption</a>, this area spans a two column width on desktop.</p>

<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411010916955_Screen Shot 2014-09-18 at 3.26.55 pm.png">
</p>

<h2>3. Promo area</h2>
<p>This area is for highlighting a task that might be more important. It will be the second element on the page, after the intro, on mobile. It spans only the top far right one column on desktop.&nbsp;</p>

<p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411010841767_Screen Shot 2014-09-18 at 3.26.25 pm.png">
</p>


	</section>
</div>
