<div  id='content'>
	<section role='main' class='primary'>
	    <div class="entry">
	        <h1 class="page_title">Template library</h1>
	        <div class="intro">
	            <p>These templates take the victoria.ac.nz patterns and combine them to meet common user needs. We use them to maintain a consistent design across our services.</p>
	        </div>
	        <p>Design for small screens first using a single column layout. Use white space to create a visual hierarchy on the page.</p>
	        <p>The default maximum page width is 70em, but hub pages can go wider if the content requires it.</p>
	        <p>Optimise for different screen sizes, but don’t make assumptions about what devices people are using.</p>
	        <h4 id="templates">
	            <a name="user-content-templates" href="#templates" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Templates:</h4>
	        <ol>
	            <li><a href="#1-content-page">Content page</a> 
	            </li>
	            <li><a href="#2-section-page">Section page</a>
	            </li>
	            <li><a href="#3-hub-page">Hub pages</a>
	            </li>
	        </ol>
	        <h3 id="1-content-page">
	            <a name="user-content-1-content-page" href="#1-content-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>1. Content Page</h3>
	        <p>Content pages are the most widely used page across victoria.ac.nz, they will be suitable for nearly all of your content needs.</p>
	        <p>Content pages are made up of three main areas; left aside, main section, and right aside.</p>
	        <p>The main use of the left aside is for the left navigation menu, however it has a secondary use of containing important contact information.</p>
	        <p>The three areas have different behavior on mobile and desktop. The left and right asides are collapsed on mobile. This might dictate where you place content on the page, it’s important to have a strategy for your content.</p>
	        <h4 id="examples">
	            <a name="user-content-examples" href="#examples" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Examples:</h4>
	        <p>Your content might have some related links, though these links aren’t the main focus of your user need, they might be of interest as further reading. The right aside area would be an ideal place for these links.</p>
	        <p>Your main content might be to help users complete the task of filling out a form, you have important information the users need to know before completing the form successfully. Placing this content in the right aside will be usable on desktop however your mobile users will not see this content, therefore making it more difficult for users to complete the task.</p>
	        <h4 id="mobile-content-page">
	            <a name="user-content-mobile-content-page" href="#mobile-content-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Mobile content page</h4>
	        <p>
	            <img alt="Mobile content" src="http://cms.victoria.ac.nz/documentation/design/design-guide/template-library/template-images/Screencast-2.gif">
	        </p>
	        <h4 id="desktop-content-page">
	            <a name="user-content-desktop-content-page" href="#desktop-content-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Desktop content page</h4>
	        <p>
	            <img alt="Desktop content" src="http://cms.victoria.ac.nz/documentation/design/design-guide/template-library/template-images/template_content.png">
	        </p>
	        <h3 id="2-section-page">
	            <a name="user-content-2-section-page" href="#2-section-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>2. Section Page</h3>
	        <p>Section pages are considered task oriented way-finding pages.</p>
	        <p>What does that mean? We use these pages to direct users to the task they are looking to complete, whether that be finding out an answer to a question or to a page to fill out a form.</p>
	        <p>Section pages are made up of the left aside and the main section areas. The main section usually contains a header and promo area and three content columns.</p>

			<h4><a href="/section-page">More about section pages</a></h4>

	        <h4 id="mobile-section-page">
	            <a name="user-content-mobile-section-page" href="#mobile-section-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Mobile section page</h4>
	        <p>
	            <img alt="Mobile section" src="http://cms.victoria.ac.nz/documentation/design/design-guide/template-library/template-images/Screencast-3-2.gif">
	        </p>
	        <h4 id="desktop-section-page">
	            <a name="user-content-desktop-section-page" href="#desktop-section-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>Desktop section page</h4>
	        <p>
	            <img alt="Desktop section" src="http://cms.victoria.ac.nz/documentation/design/design-guide/template-library/template-images/template-section.png">
	        </p>
	        <h3 id="3-hub-page">
	            <a name="user-content-3-hub-page" href="#3-hub-page" class="headeranchor-link" aria-hidden="true">
	                <span class="headeranchor"></span>
	            </a>3. Hub Page</h3>
	        <p>Hub pages are designed as a landing page, they are possibly the first page a users will see when visiting victoria.ac.nz</p>
	        <p>While we have to think about our user needs, there is also the potential to service our business needs. This might be a marketing opportunity or a communications need.</p>
	        <p>The hub pages have a variety of patterns to meet these needs and it’s most likely the you will get help form the web team and content designer is creating these pages.</p>

	    </div>
	</section>

</div>