

<div  id='content'>
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>All the snippets!</h1>
               <p class="intro">Victoria elements HTML snippets can be used to help with prototyping.</p>

<table style="width: 100%;" border="0">
    <tbody>
        <thead>
        	<tr>
            <th>
                <strong>University</strong>
            </th>
            <th>
                <strong>Funded proposals
                    <br />
                </strong>
            </th>
            <th>
                <strong>Success rate funded
                    <br />
                </strong>
            </th>
            <th>
                <strong>Total funding (excl. GST)
                    <br />
                </strong>
            </th>

        </tr>
        </thead>
        <tr>
            <td>
              Massey
                    <br />

            </td>
            <td>10
                <br />
            </td>
            <td>7.60%
                <br />
            </td>
            <td>$5,156,000
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Auckland<br /></b>
            </td>
            <td>28
                <br />
            </td>
            <td>8.80%
                <br />
            </td>
            <td>$15,215,000
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Canterbury</br></b>
            </td>
            <td>7
                <br />
            </td>
            <td>7.40%
                <br />
            </td>
            <td>$4,410,000
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Otago<br /></b>
            </td>
            <td>22
                <br />
            </td>
            <td>9.50%
                <br />
            </td>
            <td>$13,908,000
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Victoria<br /></b>
            </td>
            <td>25
                <br />
            </td>
            <td>12.80%
                <br />
            </td>
            <td>$12,163,000
                <br />
            </td>
        </tr>
    </tbody>
</table>&nbsp;


<table style="width: 100%;" border="0">
    <tbody>
        <thead>
        	<tr>
            <th>
                <strong>University</strong>
            </th>
            <th>
                <strong>Funding
                    <br />
                </strong>
            </th>
            <th>
                <strong>Research staff 2012 PBRF
                    <br />
                </strong>
            </th>
            <th>
                <strong>Staff receiving grants
                    <br />
                </strong>
            </th>
        </tr>
        </thead>
        <tr>
            <td>
                Massey
                    <br />
                
            </td>
        
            <td>9.3%
                <br />
            </td>
            <td>918.62
                <br />
            </td>
            <td>1%
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Auckland<br /></b>
            </td>
          
            <td>27.3%
                <br />
            </td>
            <td>1556.05
                <br />
            </td>
            <td>2%
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Canterbury<br /></b>
            </td>
           
            <td>7.9%
                <br />
            </td>
            <td>617.26
                <br />
            </td>
            <td>1%
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Otago<br /></b>
            </td>
          
            <td>25.0%
                <br />
            </td>
            <td>1168.24
                <br />
            </td>
            <td>2%
                <br />
            </td>
        </tr>
        <tr>
            <td><b>Victoria<br /></b>
            </td>
          
            <td>21.9%
                <br />
            </td>
            <td>641.54
                <br />
            </td>
            <td>4%
                <br />
            </td>
        </tr>
    </tbody>
</table>&nbsp;




</div>