
<div  id='content' class="thinner">
  <section role='main' class=''>
    <div class='entry'>
         <h1 class='page_title'>Writing for the web</h1>
               <p class="intro">Anyone can put information online, but writing well for the web is different. Find out why we do things the way we do on the web.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->
<script src="https://victoria.hackpad.com/zVINsdACYwa.js?format=html-notitle"></script><noscript><div>View <a href="https://victoria.hackpad.com/zVINsdACYwa">Writing for the web</a> on Hackpad.</div></noscript>


</div>
  </section>
</div>
