    pre, .example {
        border: 1px solid #ccc;
    }
    #content {
        width: auto;
    }
    .example {
        padding: 20px;
    }
    .shrinko {
        width: 70%;
    }
    .less_padding {
        padding: 1%;
    }
    .code_hider{
        cursor: pointer;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .code_toggle {
        background: url('/assets/images/menu-toggle-active-low.png') no-repeat;
        background-position: center;
        padding-right: 4%;
    }
    .code_toggle.open {
        background: url('/assets/images/menu-toggle-low.png') no-repeat;
        background-position: center;
    }

    .hido {
        -webkit-transition: width 0.1s linear;
        -webkit-transition-delay: 0.05s;
        -moz-transition: width 0.1s linear 0.05s;
        -o-transition: width 0.1s linear 0.05s;
        transition: width 0.1s linear 0.05s;
        height: 0;
        display: none;
    }


  #content.thinner {
    width: 77%;
  }
