<h2 class="rule">Buttons</h2>
<p>The button suite should be consistent across anchors, inputs and button elements. There are 4 style options and 3 size options, x-large remains unused at this stage but may prove useful.</p>

<p>The standard
    <code>.button</code> without other classes is the default primary action. There is no inheritance logic to change styling simply add
    <code>.secondary</code>,
    <code>.tertiary</code>, or
    <code>.transparent</code> to modify. Buttons with
    <code>.transparent</code> look like simple links but behave as buttons and maintain the large hit state - they should stack nicely next to other more important actions.</p>
<div class="highlight highlight_tertiary">
                <p>A standard pattern may look a bit like this:</p>
                <p>
                <a class='button'>Next Step</a>
                <a class='button tertiary'>Skip this</a>
                <a class='button transparent'>Hold up, go back</a>
                </p>
                </div>


<h3>Anchors</h3>

<div class="example">
{{>buttons/button_primary}}
{{>buttons/button_secondary}}
{{>buttons/button_tertiary}}
{{>buttons/button_transparent}}
</div>

<pre>
<code class="language-markup">{{>buttons/button_primary}}
{{>buttons/button_secondary}}

{{>buttons/button_tertiary}}

{{>buttons/button_transparent}}</code></pre>

<p>
{{>buttons/button_primary_large}}
{{>buttons/button_secondary_large}}
{{>buttons/button_tertiary_large}}
</p>

<pre>
<code class="language-markup">{{>buttons/button_primary_large}}
{{>buttons/button_secondary_large}}

{{>buttons/button_tertiary_large}}</code></pre>
<p>
    {{>buttons/button_primary_x_large}}

{{>buttons/button_secondary_x_large}}

{{>buttons/button_tertiary_x_large}}
</p>

<pre>
<code class="language-markup">{{>buttons/button_primary_large}}
{{>buttons/button_secondary_large}}

{{>buttons/button_tertiary_large}}</code></pre>

