
<h2 class="rule">Containers</h2>
<p>To see how conatiners can help you with content design view them in the design patterns library</p>
<p>Cool cool cool.</p>

<h3>Highlights</h3>
<div class="highlight example">
	<div class="highlight">
		<p>Highlight - this is actually a container  its just a clear one...   ¯\_(ツ)_/¯</p>
	</div>
	<div class="highlight_secondary">
		<p>Seondary</p>
	</div>
	<div class="highlight_tertiary">
		<p>Tertiary</p>
	</div>
		<div class="highlight_tertiary bleed">
		<p>Tertiary with bleed class applied</p>
	</div>
</div>

<h3>Active highlights</h3>
<div class="highlight example">
	<a href="#" class="promo highlight_primary">
		<h2>Promo Primary</h2>
		<p>The whole thing is clickable innit.</p>
	</a>
	<a href="#" class="promo highlight_secondary">
		<h2>Promo Tertiary</h2>
		<p>This one should be used like below.</p>
	</a>
	<a href="#" class="promo highlight_tertiary highlight--link">
		<h2>Promo Tertiary</h2>
		<p>This one has highlight link class which gives it a line along the bottom, this one is better.</p>
	</a>
</div>


<h3>Announcements</h3>
<p>To see how these can be used see the design patterns library</p>

<div class="example">
<div class="promo highlight highlight_secondary">
    <h3 itemprop="datePublished">27 February 2014</h3>
    <h2 class="promo_headline">A fairly important announcement</h2>
    <p>These use the promo class to get the header to go caps, which isn't awesome.</p>
</div>
</div>
<div class="code_hider">
    <h5 class="highlight_tertiary less_padding">Code snippet <span class="code_toggle"></span></h5>
</div>

<pre class="hido">
<code class="language-markup">
<div class="promo highlight highlight_secondary">
    <h3 itemprop="datePublished">27 February 2014</h3>
    <h2 class="promo_headline">A fairly important announcement</h2>
    <p>These use the promo class to get the header to go caps, which isn't awesome.</p>
</div>
</code>
</pre>
<br>


<div class="example">
	<a href="#boom">
		<div class="promo promo_with_image highlight highlight_boom shrinko" itemscope="">
	        <img src="http://www.marvelipsum.com/400/250/random" class="promo_img">
	        <div class="promo_text">
	                <h3 itemprop="datePublished">27 February 2014</h3>
	                <h2>A very important announcemet</h2>
	                <p>We would only use this for something we really want absolutely everybody to read: for example, we might use this pattern to announce the appointment of a new Marvel Team Leader.</p>
	                <p>It can have multiple paragraphs. The image is optional. The entire block is a link.</p>
	        </div>
        </div>
    </a>	
</div>
<div class="code_hider">

    <h5 class="highlight_tertiary less_padding">Code snippet <span class="code_toggle"></span></h5>
</div>
<pre class="hido">
<code class="language-markup">
<a href="#">
	<div class="promo promo_with_image highlight highlight_boom" itemscope="">
	    <img src="http://www.marvelipsum.com/400/250/random" class="promo_img">
	    <div class="promo_text">
	            <h3 itemprop="datePublished">27 February 2014</h3>
	            <h2>A very important announcemet</h2>
	            <p>We would only use this for something we really want absolutely .... of a new Marvel Team Leader.</p>
	            <p>It can have multiple paragraphs. The image is optional. The entire block is a link.</p>
	    </div>
	</div>
</a>
</code>
</pre>