<h2 class="rule">Pagination</h2>
<h3>A-Z pagination</h3>
<div class="hightlight example">
	<div id="a-z_links_bottom" class="a-z_paging highlight_secondary shrinko">
		<ul class="pagination" role="navigation">
			<li><a href=""><span>A</span></a></li>
			<li><a href=""><span>B</span></a></li>
			<li><a href=""><span>C</span></a></li>
			<li><a href=""><span>D</span></a></li>
			<li><a href=""><span>E</span></a></li>
			<li><a href=""><span>F</span></a></li>
			<li><a href=""><span>G</span></a></li>
			<li><a href=""><span>H</span></a></li>
			<li><a href=""><span>I</span></a></li>
			<li><a href=""><span>J</span></a></li>
		    <li><span>K</span></li>
		    <li><a href=""><span>L</span></a></li>
			<li><a href=""><span>M</span></a></li>
			<li><a href=""><span>N</span></a></li>
			<li><a href=""><span>O</span></a></li>
			<li><a href=""><span>P</span></a></li>
			<li><a href=""><span>Q</span></a></li>
			<li><a href=""><span>R</span></a></li>
			<li><a href=""><span>S</span></a></li>
			<li><a href=""><span>T</span></a></li>
			<li><a href=""><span>U</span></a></li>
			<li><a href=""><span>W</span></a></li>
			<li><a href=""><span>X</span></a></li>
			<li><a href=""><span>Y</span></a></li>
			<li><a href=""><span>Z</span></a></li>
		</ul>
	</div>
</div>
<h3>Numbered pagination</h3>
<div class="hightlight example">
<ul class="pagination" role="navigation">
	<li class="prev"><a href=""><span>Previous</span></a></li>
    <li><a href="#"><span>1</span></a></li>
    <li class="current"><span>2</span></li>
    <li><a href=""><span>3</span></a></li>
    <li><a href=""><span>4</span></a></li>
    <li class="next"><a href=""><span>Next</span></a></li>
</ul>
</div>