<h2 class="rule">Tables</h2>
<p>Tables are bad m'kay. So don't. Just don't</p>
<p>And if you're such a douche canoe that you really must, then keep it simple for crying out loud.</p>
<div class="highlight example">
<table>
    <thead>
        <tr>
            <th>Course</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>English Language</td>
            <td>October</td>
            <td>March</td>
        </tr>
        <tr>
            <td>French</td>
            <td>February</td>
            <td>August 2014</td>
        </tr>
        <tr>
            <td>German</td>
            <td>September 2013</td>
            <td>January</td>
        </tr>
        <tr>
            <td>Spanish</td>
            <td>November</td>
            <td>May</td>
        </tr>
    </tbody>
</table>
</div>

<p>A more complex table with many rows and nesting: currently failing (spectacularly on mobile). There's some code targeting cells with a rowspan but ultimately this level of complexity is too tough for a responsive site.</p>
<div class="example">
<table>
    <tbody>
        <tr>
            <th width="10%" scope="row" title="Course Reference Number">CRN</th>
            <th width="15%" scope="row">From/To</th>
            <th width="15%" scope="row">Days</th>
            <th width="14%" scope="row">Time</th>
            <th width="18%" scope="row">Building [Campus]</th>
            <th width="8%" scope="row">Room</th>
            <th width="20%" scope="row">Instructor</th>
        </tr>
        <tr>
            <td rowspan="2">7539</td>
            <td>15&nbsp;Jul – 20&nbsp;Oct&nbsp;2013</td>
            <td>Tue, Thu</td>
            <td>1200 - 1250</td>
            <td>Alan MacDiarmid Building [<a href="http://www.victoria.ac.nz/home/about/maps/campus-kelburn" title="Campus">Kelburn</a>]</td>
            <td>LT105</td>
            <td rowspan="2">Hulk</td>
        </tr>
        <tr>
            <td>15&nbsp;Jul – 20&nbsp;Oct&nbsp;2013</td>
            <td>Wed</td>
            <td>1310 - 1400</td>
            <td>Alan MacDiarmid Building [<a href="http://www.victoria.ac.nz/home/about/maps/campus-kelburn" title="Campus">Kelburn</a>]</td>
            <td>LT105</td>

        </tr>
    </tbody>
</table>

</div>

<div class="code_hider">

    <h5 class="highlight_tertiary less_padding">Code snippet <span class="code_toggle"></span></h5>
</div>
<pre class="hido">
<code class="language-markup">
    <strong>Ah hell no, we will not show you how to make tables, get out of here! Go on, get!</strong>
</code>
</pre>
