{{!-- &lt; --}}


<h2 class="rule">Typography</h2>
<h3>Paragraph text</h3>
<p>Default styling for <code class="language-markup">&lt;p></code> tag</p>
<div class="highlight example"><p>Coffee et id, grinder shop <a href="#">espresso iced bar</a> single shot. Aromatic frappuccino dripper, single origin, brewed, mocha crema roast cup milk affogato mazagran.</p>
</div>
<h3>Headings</h3>
<p>Default styling for <code class="language-markup">h1 > h6.</code> <code class="language-markup">&lt;h1></code> are reserved for page titles only.</p>
<div class="highlight example"><h1>Heading level 1</h1>
<h2>Heading level 2</h2>
<h3>Heading level 3</h3>
<h4>Heading level 4</h4>
<h5>Heading level 5</h5>
<h6>Heading level 6</h6></div>
<h3>Headings with links</h3>
<p>Links are nested inside headings
<div class="highlight example">
<h2><a href="#(\/) (°,,,°) (\/)">Heading link 2</a></h2>
<h3><a href="#(\/) (°,,,°) (\/)">Heading link 3</a></h3>
<h4><a href="#(\/) (°,,,°) (\/)">Heading link 4</a></h4>
<h5><a href="#(\/) (°,,,°) (\/)">Heading link 5</a></h5>
<h6><a href="#(\/) (°,,,°) (\/)">Heading link 6</a></h6></div>
<pre>
<code class="language-markup"><h2><a href="#">Heading link 2</a></h2>
...
<h6><a href="#">Heading link 6</a></h6></code></pre>


<h3>Page title</h3>
<p>Page titles should only be used once per page and only as the first element. Colours for title are determined by the parent Hub, the derfault is Victoria green.</p>
<div class="highlight example">
	<h1 class="page_title">Page title style</h1>
</div>
<pre>
<code class="language-markup">
<h1 class="page_title">Page title style</h1>
</code>
</pre>

<h3>Lead paragraph</h3>
<p>These may also be referred to as page intros. There should only be one lead paragraph per page. These are usaully around 160 characters long.</p>
<div class="highlight example">
	 <p class="intro"> Meet all of Spideys deadly enemies, from the Green Goblin and Doctor Octopus to Venom and Carnage, plus see <a href="#(\/) (°,,,°) (\/)">Peter Parker fall in love</a>, face tragedy and triumph, and learn that with great power comes great responsibility.</p>
</div>
<pre>
<code class="language-markup">
<p class="intro"> Meet all of Spideys deadly enemies, from the Green Goblin and ... see <a href="#">Peter Parker fall in love</a>... great responsibility.</p>
</code>
</pre>


<h3>Lists</h3>

<p>I love list.</p>

<div class="highlight example"><h4>Unordered Lists</h4>
<ul>
<li>here is a bulleted list</li>
<li>vivamus <a href="/">sagittis lacus vel</a> augue laoreet rutrum faucibus dolor auctor</li>
<li>vestibulum id ligula porta felis euismod semper</li>
</ul>
<ul>
<li>list item 1
<ul>
    <li>list item 2
        <ul>
            <li>list item 3</li>

        </ul>
    </li>
    <li>list item 2</li>
</ul>
</li>
<li>list item 1</li>
</ul>
</div>

<pre>
	<code class="language-markup">
<ul>
	<li>here is a bulleted list</li>
	<li>vivamus <a href="/">sagittis lacus vel</a> ... dolor auctor</li>
	<li>vestibulum id ligula porta felis euismod semper</li>
</ul>

<ul>
	<li>list item 1
		<ul>
			<li>list item 2
				<ul>
					<li>list item 3</li>
				</ul>
				</li>
			<li>list item 2</li>
		</ul>
	</li>
	<li>list item 1</li>
</ul>
	</code>
</pre>

<div  class="highlight example"><h4>Ordered Lists</h4>
<ol>
<li>here is a numbered list</li>
<li>vivamus <a href="/">sagittis lacus vel</a> augue laoreet rutrum faucibus dolor auctor</li>
<li>vestibulum id ligula porta felis euismod semper</li>
</ol>

<ol>
<li>list item 1
    <ol>
        <li>list item 2
            <ol>
                <li>list item 3</li>
            </ol>
        </li>
        <li>list item 2</li>
    </ol>
</li>
<li>list item 1</li>
</ol></div>

<pre>
<code class="language-markup">
<ol>
	<li>here is a numbered list</li>
	<li>vivamus <a href="/">sagittis lacus vel</a> ... dolor auctor</li>
	<li>vestibulum id ligula porta felis euismod semper</li>
</ol>

<ol>
	<li>list item 1
	    <ol>
	        <li>list item 2
	            <ol>
	                <li>list item 3</li>
	            </ol>
	        </li>
	        <li>list item 2</li>
	    </ol>
	</li>
	<li>list item 1</li>
</ol>
</code>
</pre>



<div class="hightlight example">
<aside role="complementary" class="secondary">
    <h2>Divider lists</h2>
    <ul class="bullet_list divider_list">
    <li><a href="#">Spider-man</a></li>
    <li><a href="#">The Hulk</a></li>
    <li><a href="#">Captin America</a></li>
    <li><a href="#">Galactus</a></li>
    <li><a href="#">Deadpool</a></li>
  </ul>
</aside>
</div>

<pre>
<code class="language-markup">
<h2>Divider lists</h2>
<ul class="bullet_list divider_list">
    <li><a href="#">Spider-man</a></li>
    <li><a href="#">The Hulk</a></li>
    <li><a href="#">Captin America</a></li>
    <li><a href="#">Galactus</a></li>
    <li><a href="#">Deadpool</a></li>
</ul>   
</code>
</pre>

<div class="hightlight example">
<aside role="complementary" class="secondary">
    <h2>Document lists</h2>
    <ul class="document_list divider_list">
    <li><a href="#"><em class="result_flag flag_pdf">pdf</em>Spider-man swing policy (20.0&nbsp;KB)</a></li>
    <li><a href="#"><em class="result_flag flag_xls">Excel</em>The Hulk anger mamangement (358.2&nbsp;MB)</a></li>
    <li><a href="#"><em class="result_flag flag_doc">Word</em>Captin America mission report (2.0&nbsp;MB)</a></li>
    <li><a href=""><em class="result_flag flag_ppt">PPT</em>Galactus World eating best practice (10.0&nbsp;MB)</a></li>
    <li><a href=""><em class="result_flag flag_mp3">mp3</em>Deadpool party tracks (120.0&nbsp;MB)</a></li>
  </ul>
</aside>
</div>

<pre>
<code class="language-markup">
<h2>Document lists</h2>
<ul class="document_list divider_list">
    <li><a href="#"><em class="result_flag flag_pdf">pdf</em>Spider-man swing policy (20.0&nbsp;KB)</a></li>
    <li><a href="#"><em class="result_flag flag_xls">Excel</em>The Hulk anger mamangement (358.2&nbsp;MB)</a></li>
    <li><a href="#"><em class="result_flag flag_doc">Word</em>Captin America mission report (2.0&nbsp;MB)</a></li>
    <li><a href=""><em class="result_flag flag_ppt">PPT</em>Galactus World eating best practice (10.0&nbsp;MB)</a></li>
    <li><a href=""><em class="result_flag flag_mp3">mp3</em>Deadpool party tracks (120.0&nbsp;MB)</a></li>
</ul>  
</code>
</pre>


<div class="hightlight example">
<aside role="complementary" class="secondary">
   <h2>Contacts List</h2>
    <ul itemtype="http://schema.org/ContactPoint" itemscope="" class="contacts_list">
        <li><a href="mailto:nick.fury@sheild.nz" itemprop="email">nick.fury@sheild.nz</a></li>
        <li><a href="tel:04 4635766" itemprop="telephone">Phone: 04 1234566</a></li>
        <li class="no_link">Room 324, Hunter Bldg Gate 1 Kelburn Pde</li>
    </ul>
</div>

<pre>
<code class="language-markup">
<h2>Contacts List</h2>
<ul itemtype="http://schema.org/ContactPoint" itemscope="" class="contacts_list">
    <li><a href="mailto:nick.fury@sheild.nz" itemprop="email">nick.fury@sheild.nz</a></li>
    <li><a href="tel:04 4635766" itemprop="telephone">Phone: 04 1234566</a></li>
    <li class="no_link">Room 324, Hunter Bldg Gate 1 Kelburn Pde</li>
</ul>   
</code>
</pre>



<div class="hightlight example">
<aside role="complementary" class="secondary">
 <h2>Contacts Block</h2>
    <ul class="contacts_block">
        <li itemscope="telephone"><h4>In an emergency</h4><a href="tel:044639999">ext. 8888 or 463 9999</a></li>
        <li itemscope="telephone"><h4>Reception</h4><a href="tel:044721000">ext. 0</a></li>
        <li itemscope="telephone"><h4>Uniform Care</h4><a href="tel:044635398">ext. 5398</a></li>
        <li itemscope="telephone"><h4>SHEILD Service Desk</h4><a href="tel:044635050">ext. 5050</a>        </li>
    </ul>
</div>

<pre>
<code class="language-markup">
<h2>Contacts List</h2>
<ul itemtype="http://schema.org/ContactPoint" itemscope="" class="contacts_list">
    <li><a href="mailto:nick.fury@sheild.nz" itemprop="email">nick.fury@sheild.nz</a></li>
    <li><a href="tel:04 4635766" itemprop="telephone">Phone: 04 1234566</a></li>
    <li class="no_link">Room 324, Hunter Bldg Gate 1 Kelburn Pde</li>
</ul>   
</code>
</pre>

<h3>Inset text</h3>
<p>Quotes and block quotes yo</p>
<div class="highlight example">
	<h4>Pull quote</h4>
	<figure class="pullquote" style="width: 35%;"><q>This is major storylines and iconic Spider-Man magic you'd come to expect from the Wall-Crawler.</q></figure>
</div>
<pre>
<code class="language-markup">
<figure class="pullquote"><q>This is major storylines and iconic Spider-Man magic you'd come to expect from the Wall-Crawler.</q></figure>
</code>
</pre>
<div class="highlight example"><h4>Block quote</h4>
	<blockquote cite="http:\/\/example.com\/facts">
	    <p>Abandoned by his mother, Matt Murdock was raised by his father, boxer Battling Jack Murdock, in Hells Kitchen. In a city of Marvels, Jessica Jones never found her niche. This is where youll find all the big-time action, major storylines and iconic Spider-Man magic youd come to expect from the Wall-Crawler.</p>
		<p>Avengers Assemble. Now a chain-smoking, self-destructive alcoholic with a mean inferiority complex, Jones is the owner and sole employee of Alias Investigations - a small, private-investigative firm specializing in super-human cases. Collects Alias #1-28, What If.</p>	
	</blockquote>
</div>
<pre>
<code class="language-markup">
<blockquote cite="http:\/\/example.com\/facts">
<p>Abandoned by his mother, Matt Murdock ... the Wall-Crawler.</p>
<p>Avengers Assemble... What If.</p>	
</blockquote>
</code>
</pre>
<div class="highlight example"><h4>Block quote with figure caption</h4>
	<figure class="quote">
        <blockquote>Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone.</blockquote>

        <figcaption>Stan Lee, <cite>Marvel Comics</cite></figcaption>
    </figure>
</div>
<pre>
<code class="language-markup">
<figure class="quote">
<blockquote>Iron Man, Thor, Captain America and the rest of Earths Mightiest Heroes unite to stand against the threats none can face alone.</blockquote>

<figcaption>Stan Lee, <cite>Marvel Comics</cite></figcaption>
</figure>
</code>
</pre>

<h3>Inline text styles</h3>

<div class="highlight example"><p>
    The <a href="#">a element</a> example<br>
    The <abbr>abbr element</abbr> and <abbr title="Title text">abbr element with title</abbr> examples<br>
    The <b>b element</b> example<br>
    The <cite>cite element</cite> example<br>
    The <code>code element</code> example<br>
    The <del>del element</del> example<br>
    The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples<br>
    The <em>em element</em> example<br>
    The <i>i element</i> example<br>
    The img element <img src="http://placesheen.com/16/16" alt=""> example<br>
    The <ins>ins element</ins> example<br>
    The <kbd>kbd element</kbd> example<br>
    The <mark>mark element</mark> example<br>
    The <q>q element <q>inside</q> a q element</q> example<br>
    The <s>s element</s> example<br>
    The <samp>samp element</samp> example<br>
    The <small>small element</small> example<br>
    The <span>span element</span> example<br>
    The <strong>strong element</strong> example<br>
    The <sub>sub element</sub> example<br>
    The <sup>sup element</sup> example<br>
    The <var>var element</var> example<br>
    The <u>u element</u> example
            </p>
</div>

