<div  id='content'class="thinner">
	<section role='main' class=''>
		<div class='entry'>
			   <h1 class='page_title'>Common way-finding elements</h1>
               <p class="intro">Victoria’s web channel and the principles that guide ongoing work to make it more modern, flexible, sustainable and user-focused.</p>
<!-- this has to be hard aligned otherwise it messes with the whitespace in the <pre>  -->




<p>These way-finding elements are found throughout victoria.ac.nz on both section pages and content pages.&nbsp;</p><p></p><h2>What is way-finding</h2><p>Way-finding is how users orientate themselves and navigate to where they want to be.</p><p></p><h2>Way-finding is made up of four components.</h2><ol><li>Orientation: Where am I am right now?</li>
<li>Route decisions: Can I find the way to where I want to go?</li>
<li>Route monitoring:&nbsp;&nbsp; Are my experiences consistent to know that the selected route is heading towards to the destination I want?</li>
<li>Closure: Can I recognize that I have arrived in the right place?</li></ol>

<p>We address these problems on victoria.ac.nz with elements such as visual cues and useful content.</p><p></p><h2>Elements used on victoria.ac.nz</h2><ol><li>Theme colours</li>
<li>Menu highlighting</li>
<li>Page headings</li>
<li>Metadata</li></ol>

<h2>1. Theme colours</h2><p>Colour recognition is a relatively small cogitative effort for users. We use colour as a visual element to help our users to recognise that they may have navigated to a new section.&nbsp;</p><p></p><p>Each section or main area of victoria.ac.nz has a distinct colour theme.</p><p></p><p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411005662153_colour-elements.jpg"></p><p>&nbsp;</p><p></p><h2>2. Menu highlights</h2><p></p><p>Another visual cue used through our site is the left menu. The left menu is a persistent pattern through out most of victoria.ac.nz. It helps users quickly assess where they have been and where they are able to go.</p><p></p><p></p><p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411007263753_menu.png"></p><p></p><h2>3. Page headings</h2><p></p><p>Titles are simple landmarks for indicating where the users are and what the content on the page will be about. Headings also help with SEO.</p><p></p><h2>4. Metadata</h2><p>Metadata or page descriptions give users a quick insight to what they will find on the page. These descriptions are usually about 160 characters long, and also help with SEO.</p><p></p><p><img src="https://hackpad-attachments.s3.amazonaws.com/hackpad.com_cck8vk6QWcD_p.238194_1411007948704_metadata.jpg"></p><p></p><p></p><p>Links to Template library - section page and content page</p><p></p>


	</section>
</div>