//  _reset.scss 
// -------------------------------------------------------------

// Display in IE6-9 and FF3
// -------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block;
}

// Display block in IE6-9 and FF3
// -------------------------

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

// Prevents modern browsers from displaying 'audio' without controls
// -------------------------

audio:not([controls]) {
    display: none;
}

// Base settings
// -------------------------

html {
    font-size: 100%;
    // @include text-size-adjust();
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
// Focus states
a:focus {
    //@include tab-focus();
}
// Hover & Active
a:hover,
a:active {
    outline: 0;
}

// Prevents sub and sup affecting line-height in all browsers
// -------------------------

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

// Img border in a's and image quality
// -------------------------

img {
    //max-width: 100%; // Make images inherently responsive
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}